# Rust build artifacts
target

# Cargo.lock can be ignored for libraries, but for binaries and applications, it's commonly checked into the repo.
# Decide based on the specific use case.
Cargo.lock

# Generated configuration and build files
/config.stamp
/Makefile
/config.mk

# Build artifacts specific to the Rust documentation
src/doc/build

# Python bytecode files
src/etc/*.pyc

# Artifacts for a possibly vendored registry
src/registry/target

# Ignoring the Rust compiler binary if built from source in this directory
rustc

# Ignoring Python cache directories
__pycache__

# IDE-specific directories for JetBrains tools (like IntelliJ, CLion, etc.)
.idea/

# Visual Studio Code workspace files and settings
.vscode/

# JetBrains project files
*.iml

# Vim temporary files
*.swp
